<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xjt.batis.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select * from admin
    </select>

    <select id="queryById" resultType="User">
        select * from admin where id=#{id}
    </select>

    <insert id="addUser" parameterType="User">
        insert into admin(id,username,password) values (#{id},#{username},#{password})
    </insert>

    <update id="updateUser" parameterType="User">
        update admin set username=#{username},password=#{password} where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from admin where id=#{id}
    </delete>
</mapper>